@-moz-viewport {width: device-width; scale: 1;}

@-ms-viewport {width: device-width; scale: 1;}

@-o-viewport {width: device-width; scale: 1;}

@-webkit-viewport {width: device-width; scale: 1;}

@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
     
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #E7E5D9;   
}

img {
    display: block;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.box {
    background-color: #87714F
}

.centerd {
    text-align: center;
    color: #fff;
}

.text-center{
    text-align: center;
}

.logo {
    width: 70px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    
}

.logo-2 {
    width: 150px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    
}
.mast-head {
    background: transparent url("../images/header-line.png") repeat left center;
    text-align: center;
    
}

.title {
    text-shadow: 2px 2px 0 #bfbfbe;
    background-color: #e7e5d9;
    display: inline-block;
}